<div class="field">
	<label class="field__label" for="{{name}}">{{label}}</label>
	<input class="field__input validation" oninput="{{action}}(this.name, this.value)" type="{{type}}" name="{{name}}"
		placeholder="{{placeholder}}">
</div>